<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Edit</title>
  <style>
  body{
    <% if @student.gender == "male" %>
      background-color:#CEF6F5;
    <% elsif @student.gender == "female" %>
      background-color: #F8E0F7;
    <% elsif @student.gender == "neutral" %>
      background-color: #E2A9F3;
    <% end %>
  }
  </style>
</head>
<body>
  <h1>Editing</h1>
  <%= form_for :student, url: student_path(@student), method: :patch do |f| %>
    <% if @student.errors.any? %>
      <div id="error_explanation">
        <h2>
          <%= pluralize(@student.errors.count, "error") %> prohibited
          this student from being saved:
        </h2>
        <ul>
          <% @student.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>

  <p>
    <%= f.label :gender %> <br>
    Male:<%= f.radio_button :gender, 'male' %> <br>
    Female:<%= f.radio_button :gender, 'female' %> <br>
    Neutral:<%= f.radio_button :gender, 'neutral' %> <br>
  </p>

  <p>
    <%= f.label :weight %><br>
    <%= f.number_field :weight, :class =>'text_field', :step => 0.1 %>kg
  </p>

  <p>
    <%= f.label :height %><br>
    <%= f.number_field :height, :class =>'text_field', :step => 0.1 %>cm
  </p>

  <p>
    <%= f.label :color %><br>
    <%= f.text_field :color %> <br>
    <%= link_to 'Available Colours?', 'http://www.w3schools.com/colors/colors_names.asp', :target => '_blank' %>
  </p>

  <p>
    <%= f.label :gpa %><br>
    <%= f.number_field :gpa, :min => 0, :max => 4, :step => 0.1 %>
  </p>

  <p>
    <%= f.submit %>
    <%= link_to "Back", students_path %>
  </p>

<% end %>
</body>
</html>
