<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>index</title>
  <style>
    body{
      background-color: #E6E6E6;
    }
    p.alert{
      color: red;
    }
    div.overflow{
      overflow: auto;
    }
    table{
      margin-left: 10px;
      margin-bottom: 0px;
      display: inline-table;;
    }
    table.new{
      border-style: double;
      border-color: red;
      width:200px;
      height:200px;
      text-align: center;
    }
    <% @student.each do |s| %>
      table.<%= s.name %> {
        border-style: solid;
        border-color: <%= s.color %> ;
        width: <%= s.weight * 2  %>px ;
        height: <%= s.height %>px ;
        text-align: center;
        color: <%= s.color %> ;
      }
    <% end %>
  </style>
</head>
<body>
  <h1>Students</h1>
  <p class="alert">If you want to add a new student, look at the end of the students' list</p>
  <div class="overflow">
    <table><tr valign="bottom">
      <% @student.each do |s| %>
        <td>
        <table class= <%= s.name %>>
        <td >
          <%= s.name %> <br>
          <%= s.gpa %> <br>
          <%= link_to "show", student_path(s) %> <br>
          <%= link_to "Edit", edit_student_path(s) %> <br>
          <%= link_to 'Destroy', student_path(s),
                    method: :delete,
                    data: { confirm: 'Are you sure?' } %>
        </td>
        </table>
        </td>
      <% end %>
      <td>
        <table class="new">
          <td>
            <%= link_to "New", new_student_path %>
          </td>
        </table>
      </td>
    </tr></table>
  </div>
  <br>
  <%= column_chart [
    {name: "Weight", data: @weight},
    {name: "Height", data: @height},
    ], xtitle: "Name", ytitle: "cm/kg"%> <br>
  <%= column_chart @gpa, xtitle: "Name", ytitle: "GPA", colors: ["orange"], max: 4.0%>
</body>
</html>
