<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title><%= @student.name %></title>
  <style>
    table.<%= @student.name %> {
      border-style: solid;
      border-color: <%= @student.color %> ;
      width: <%= @student.weight * 2 %>px ;
      height: <%= @student.height %>px ;
      text-align: center;
      color: <%= @student.color %> ;
    }
  </style>
</head>
<body>
  <table class= <%= @student.name %> >
    <td>
      <%= @student.name %> <br>
      <%= @student.gpa %> <br>
      <%= link_to "Back", students_path %>
      <%= link_to "Edit", edit_student_path(@student) %>
    </td>
  </table>
</body>
</html>
