<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title><%= @student.name %></title>
  <style>
    body{
      background-color:#E6E6E6;
    }
    table.<%= @student.name %> {
      border-style: solid;
      border-color: <%= @student.color %> ;
      width: <%= @student.weight * 2 %>px ;
      height: <%= @student.height %>px ;
      text-align: center;
      color: <%= @student.color %> ;
    }
    p{
      color: red;
      text-decoration: underline;
      text-transform: uppercase;
    }
    .rank{
      font-size: 250%
    }
    table.outer{
      border-style:dotted;
      border-color: <%= @student.color %> ;
      text-align: center;
    }
    b{
      font-size: 150%;
      padding-left: 10px;
      padding-right: 10px;
    }

  </style>
</head>
<body>
  <table align="center" class= <%= @student.name %> >
    <td>
      <%= @student.name %> <br>
      <%= @student.gpa %> <br>
      <%= link_to "Back", students_path %> <br>
      <%= link_to "Edit", edit_student_path(@student) %>
    </td>
  </table> <br>
  <table class="outer" align="center">
    <tr>
      <td>
        <h2 class="rank">Ranking</h2>
      </td>
    </tr>
    <tr>
      <td>
        <p>
            There are <b><%= @num_s %></b> students in total. <br>
            For weight, it is ranked from heaviest to lightest. <br>
            For height, it is ranked from tallest to shortest. <br>
            For gpa, it is ranked from highest to lowest. <br>
        </p>
      </td>
    </tr>
    <tr>
      <td>
        <table align="center">
          <tr>
            <td class="rank">Weight:</td>
            <th class="rank"><%= @rank_list[0].ordinalize %></th>
          </tr>
          <tr>
            <td class="rank">Height:</td>
            <th class="rank"><%= @rank_list[1].ordinalize %></th>
          </tr>
          <tr>
            <td class="rank">GPA:</td>
            <th class="rank"><%= @rank_list[2].ordinalize %></th>
          </tr>
        </table>
      </td>
    </tr>
  </table>
</body>
</html>
